// These colors are specific to the theme. Do not use in a package!

@white: #eee;
@comment: #666;
@gray: #345;
@gutter: #234;
@background: #123;

@yellow: #fc6;
@red: #f55;
@cyan: #6dd;
@blue: #66f;
@purple: #f25;
@green: #8e8;
@orange: #fc6;
@light-orange: #fc9;
