// These colors are specific to the theme. Do not use in a package!

@white: #eee;
@string: #ccc;
@comment: #777;
@gray: #345;
@gutter: #234;
@background: #123;

@main: #f66;
@cyan: #691;
@blue: #66f;
@purple: #e8e;
@green: #8e8;
@orange: #fc6;
@light-orange: #fc9;
