// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #eee;
@light-gray: #777;
@gray: #666;
@dark-gray: #444;
@very-dark-gray: #222;

@cyan: #6cf;
@blue: #66f;
@purple: #e8e;
@green: #8e8;
@red: #f66;
@orange: #f96;
@light-orange: #fc6;
